################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MROpenBCI/MROpenBCI.Android/obj
/MROpenBCI/MROpenBCI/obj
/MROpenBCI/MROpenBCI.Android/MROpenBCI.Android.csproj.user
/MROpenBCI/MROpenBCI.iOS/obj
